<header role=banner>
  <a href=https://commons.wikimedia.org/wiki/File:The_Robin_-_Lords_entire_new_System_of_ornithology_%281791%29,_plate_XV_-_BL.jpg><img src=lords-system-small.jpg alt=robin></a>
  <h1>Round Robin</h1>
  <p>a modern open source license that’s share-alike for improvements and permissive for apps</p>
</header>
